In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("pokemon.db")
cur = con.cursor()
print(con,cur)

In [ ]:
cur

In [51]:

import sqlite3

con = sqlite3.connect("pokemon.db")
print()
print(f"1. Database Setup: \t'pokemon.db'")

with con:
    con.execute("DROP TABLE IF EXISTS adventurers")
    con.execute("""
        CREATE TABLE adventurers 
            (id INTEGER PRIMARY KEY AUTOINCREMENT,
             name TEXT NOT NULL, 
             pokemon TEXT NOT NULL, 
             badges INTEGER
            )
    """)
    print(f"2. Table Setup: \t'adventurers'")
    
    
    cur = con.cursor()
    res = cur.execute("""SELECT name from sqlite_master""").fetchall()
    # print(f"3. Tables Existing: \t{res!r}")
    print(f"3. Tables Existing: \t{res!r}")

    cur.execute("SELECT name, sql FROM sqlite_master WHERE type='table' AND name='adventurers'")
    for name, sql in cur.fetchall():
        print(f"4. OG Schema {name!r}: \n\t\t\t{sql}")
    print()
    
    cur.execute("PRAGMA table_info(adventurers);")
    print(f"5. Latest Schema {name!r}")
    for col in cur.fetchall():
        print(f"\t\t\t{col}")
    print()

1. Database Setup: 	'pokemon.db'
2. Table Setup: 	'adventurers'
3. Tables Existing: 	[('sqlite_sequence',), ('adventurers',)]
4. OG Schema 'adventurers':
			CREATE TABLE adventurers
            (id INTEGER PRIMARY KEY AUTOINCREMENT,
             name TEXT NOT NULL,
             pokemon TEXT NOT NULL,
             badges INTEGER
            )

5. Latest Schema 'adventurers'
			(0, 'id', 'INTEGER', 0, None, 1)
			(1, 'name', 'TEXT', 1, None, 0)
			(2, 'pokemon', 'TEXT', 1, None, 0)
			(3, 'badges', 'INTEGER', 0, None, 0)

In [ ]:
con = sqlite3.connect("pokemon.db")

INPUT_LIST = [
    ('brock','geodude'),
    ('ange','mateball'),
    ('messi','goat'),
]

with con:
    cur = con.cursor()    
    
    res = cur.execute("SELECT * FROM adventurers").fetchall()
    print(res)
    
    con.execute("INSERT INTO adventurers (name, pokemon) VALUES ('ash','bulba')")
    con.execute("INSERT INTO adventurers (name, pokemon) VALUES (?,?)", ('misty','squirt squirt'))    
    con.executemany("INSERT INTO adventurers (name, pokemon) VALUES (?,?)", INPUT_LIST)    
    
    res = cur.execute("SELECT * FROM adventurers").fetchall()
    print(f"\n6. Insert Test Data:")
    [print(f"\t\t{r}") for r in res]

[]

6. Insert Test Data:
		(1, 'ash', 'bulba', None)
		(2, 'misty', 'squirt squirt', None)
		(3, 'brock', 'geodude', None)
		(4, 'ange', 'mateball', None)
		(5, 'messi', 'goat', None)

In [ ]:
import sqlite3
con = sqlite3.connect("tonydb.db")
######## INSERTION ########
barca_data = [
    ("busquets", 12),
    ("villa", 23),
    ("pedro", 35),
]


with con:
    cur.execute("INSERT INTO users (name, age) VALUES ('tony',69)")
    cur.execute("INSERT INTO users (name, age,email) VALUES ('iniesta',50,'iniesta@barca.com')")
    cur.executemany("INSERT INTO users (name, age) VALUES(?, ?)", barca_data)

    res = cur.execute("SELECT * FROM users").fetchall()
    
    # cur.execute("INSERT INTO adventurers (name, pokemon) VALUES (?, ?)", ("Ash", "Pikachu"))

In [ ]:
######## SELECTION ########
con = sqlite3.connect("tonydb.db")
with con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM users").fetchall() # res.fetchall()